<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>

<h1>Top Picks</h1>
<!-- Wrapper Around Orbit -->
<div class="orbit" role="region" aria-label="Top Picks" data-orbit>
  <!-- Previous and Next Buttons -->
  <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
  <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>

<!-- Unordered List of photos for carousel -->
  <ul class="orbit-container">
      <li class="orbit-slide">
        <%= image_tag "horn_magic_cookie.png", alt: "Horn Cookie", class: "orbit_img"%>
        <figcaption class="orbit-caption">Magical Unicorn Horn Cookie</figcaption>
      </li>
      <li class="orbit-slide">
        <%= image_tag "uni_pllw.png", alt: "Unicorn Pillow", class: "orbit_img" %>
        <figcaption class="orbit-caption">Unicorn Pillow Sham</figcaption>
      </li>
      <li class="orbit-slide">
        <%= image_tag "uni_puke_mug.png", alt: "Mug", class: "orbit_img" %>
        <figcaption class="orbit-caption">Unicorn Puke Mug</figcaption>
      </li>
      <li class="orbit-slide">
        <%= image_tag "my_unicorn_necklace.png", alt: "Necklace", class: "orbit_img" %>
        <figcaption class="orbit-caption">Unicorn Love Necklace</figcaption>
      </li>
</ul>
<!-- Navigation Buttons for Accessibility -->
<nav class="orbit-bullets">
  <button class="is-active" data-slide="0"><span class="show-for-sr">Unicorn Horn Cookie</span><span class="show-for-sr">Current Slide</span></button>
  <button data-slide="1"><span class="show-for-sr">Unicorn Platform Shoes</span></button>
  <button data-slide="2"><span class="show-for-sr">Unicorn Mug</span></button>
  <button data-slide="3"><span class="show-for-sr">Unicorn Necklace</span></button>
</nav>
</div>
