
<div class="row">
  <p><%= flash[:notice] %></p>
</div>

<div class="row">
  <div class="small-4 column">
    <%= image_tag @product.photo, size: "300", alt: @product.name %>
  </div>

  <div class="small-8 column" id="description">

    <h3><%= @product.name %></h3>
    <p>Sold By: <%= @product.merchant.displayname %> </p>
    <p>Description: <%= @product.description %></p>
    <p>Price: <%= number_to_currency(@product.price/100.00) %></p>
    <p>Stock: <%= @product.stock %></p>
    <p>Overall Rating: <%= @average %> <%= image_tag("rating.png", :size => "20", :alt => "rating unicorn")%></p>
  </div>
</div>

<div class="row">
  <div class="column quantity quantity-box">
    <% if @product.stock <= 0 %>
      <p> <strong>SOLD OUT! Please try back later.</strong></p>
    <% else %>
      <%= form_for @orderitem, as: 'add_to_cart', url: @url, method: @method do |f| %>
        <%= f.label :quantity %>
        <%= f.number_field :quantity, min: 1 %>
        <%= f.submit "Add to cart", class: "button" %>
      <% end %>

    <% end %>
    <p><%= link_to "See my Cart", carts_index_path, class: "see-cart" %></p>
  </div>
</div>

<div class="row">
  <div class="column">
    <h3>Reviews</h3>
    <% @reviews.each do |review|%>
      <div id="review">
        <p>Rating:
          <% review.rating.times do %>
            <%= image_tag("rating.png", :size => "20", :alt => "rating unicorn")%>
          <% end %>
        </p>
        <p><%= review.feedback %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="column">
    <% if !current_user || current_user.id != @product.merchant_id %>
      <%= link_to("Add a Review!", reviews_new_path) %>
    <% end %>
  </div>
</div>
