<TABLE>

  <TR>
    <TH>Product</TH>
    <TH>Unit price</TH>
    <TH>Quantity</TH>
    <TH>Status</TH>
    <TH>Total</TH>
  </TR>

  <% @orderitems.each do |orderitem| %>
  <TR>
    <TD><%= link_to orderitem.product.name, products_show_path(orderitem.product.id) %></TD>
    <TD><%= number_to_currency(orderitem.price/100.00) %></TD>
    <TD><%= orderitem.quantity %></TD>
    <TD>
      <% if orderitem.status == "pending"  && @order.status == "paid"%>
        <%= button_to "Unshipped", orderitems_ship_path(orderitem.id), method: :patch %>
      <% else %>
        <%= orderitem.status %>
      <% end %>
    </TD>
    <TD><%= number_to_currency(orderitem.total/100.00) %></TD>
  </TR>
  <% end %>

  <TR>
  <TD></TD>
  <TD></TD>
  <TD></TD>
  <TD>
    <% if complete_check(@orderitems) == true && @order.status == "paid" %>
      <%= button_to "Complete Your Order!", orders_complete_path(@order), method: :patch %>
    <% end %>
  </TD>
  <TD><%= number_to_currency(final_total(@orderitems)/100.0) %></TD>
  </TR>

</TABLE>


<p>Order Status: <%= @order.status %> </p>

<p>Order was placed at: <%= @order.placed_at %>.</p>
