<!-- 
<h1><%=  "#{@merchant.displayname}" %></h1>


<h3><%= "Username(from GitHub): #{@merchant.username}"</h3>
<h3><%= "Store Email: #{@merchant.email}" %> </h3>
<h3><%= "Store Location: #{@merchant.location}" %></h3>
<h3><%= "Store Phone: #{@merchant.phone}"%> </h3>

<%= button_to "Edit Profile", merchants_edit_path(@merchant.id) %> -->
