<TABLE>

  <TR>
    <TH>Product</TH>
    <TH>Unit price</TH>
    <TH>Quantity</TH>
    <TH>Total</TH>
    <TH>Total</TH>
  </TR>

<% @order.orderitems.each do |orderitem| %>
  <TR>
    <TD><%= orderitem.product.name %> <order</TD>
    <TD><%= "$#{orderitem.price/100.0}" %></TD>
    <TD>
      <%= form_for orderitem, as: 'change_quantity', url: orderitems_update_path(orderitem), method: :patch do |f| %>
        <%= f.number_field :quantity, min: 1 %>
        <%= f.submit "Update" %>
      <% end %>
    </TD>
    <TD><%= "$#{orderitem.total/100.0}" %></TD>
    <TD><%= button_to "Delete", orderitems_destroy_path(orderitem), method: :delete %></TD>
  </TR>
<% end %>

<TR>
  <TD></TD>
  <TD></tabindex="">
  <TD></TD>
  <TD><%= "$#{@order.total/100.0}"%></TD>
</TR>

</TABLE>
