<h1>Browse by category</h1>

<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Browse by store", stores_index_path %></li>
    <li><%= link_to "Browse by category", categories_index_path %></li>
    <li><%= link_to "Browse all", homepages_show_path %></li>
  </ul>
</nav>

<% @categories.each do |category| %>

  <% if category.products.first != nil %>
    <div class="category-tile">

      <%= image_tag category.products.first.photo, alt: category.name %>
      <p><%= link_to category.name, categories_show_path(category.id) %></p>
    </div>
  <% end %>

<% end %>
