

<h2> @merchant </h2>

<h3>Current Product List:</h3>
<% @merchant.products.each do |product| %>
<div>
  <p>
    <%= image_tag product.photo, alt: product.name %>
  </p>
</div>
<div>
    <p><%= link_to product.name, products_show_path(product.id) %></p>
</div>
<div>
  <% if product.retired == false %>
    <%= button_to "Active", product_retire_path, method: :patch %>
  <% else %>
    <%= button_to "Inactive", product_retire_path, method: :patch %>
  <% end %>
</div>

<% end %>


<%= button_to "Add Product", products_edit_path(product.id) %>
