<!DOCTYPE html>
<html>
<head>
  <title>Betsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to "Unicorns 'R' Us", root_path %></h1>

      <!-- Navigation Dropdown for top Menu -->
    <nav class="row">
        <section class="small-12 columns">
        <ul class="vertical menu medium-horizontal" data-responsive-menu="accordion medium-dropdown">
          <li> <%= link_to "Home", root_path %> </li>
      <li>
        <%= link_to "Browse", homepages_show_path %>
        <ul class="menu vertical">
          <li><%= link_to "Browse by store", stores_index_path %></li>
          <li><%= link_to "Browse by category", categories_index_path %></li>
          <li><%= link_to "Browse all products", homepages_show_path %></li>
        </ul>
      </li>

      <li>
        <% if session[:user_id] == nil %>
          <li><%= link_to "Login", "/auth/github" %>
            <% else %>
              <%= link_to "Merchant", merchants_index_path %>
              <ul class="menu vertical">
                <li><%= link_to "Account Home", merchants_index_path %></li>
                <li><%= link_to "Logout", session_delete_path(session[:user_id]), method: :delete, data: {confirm:"End your session?"} %></li>
              </ul>
        <% end %>
          </li>
      </li>

      <li><%=link_to image_tag("cart.png"), carts_index_path, :alt => "shopping cart" %></li>
    </ul>
    </section>
  </nav>
  </header>

    <%= yield %>

  </body>
</html>
